<!-- Navbar content -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded  navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home']">Peliculas App</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/search','']">Link</a>
      </li>
    </ul>
    <form (ngSubmit)="buscarpelicula()" class="form-inline my-2 my-lg-0" [formGroup]="buscar_form_nav">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" (keyup.enter)="buscarpelicula()" formControlName="buscar_input">
      <button [disabled]="!buscar_form_nav.valid" class="btn btn-primary my-2 my-sm-0" type="submit" (click)="buscarpelicula()">Buscar</button>
    </form>
  </div>
</nav>
<!-- /Navbar content -->

<!-- content -->
<router-outlet></router-outlet>
<!-- /content -->