<div class="container main-container">

  <form [formGroup]="buscar_form">
    <div class="form-group" >
      <input formControlName="buscar_input"
             type="text" class="form-control" placeholder="Buscar" (keyup.enter)="buscarpelicula()">
    </div>
  </form>
  <div *ngIf="peliculas.length >= 0">

    <div class="card-columns" >
      <div class="card card-margin card-shadow" *ngFor="let pelicula of peliculas; let i = index">
        <div appActiveTag>
          <img class="card-img-top img-fluid" *ngIf="pelicula.poster_path" [src]="pelicula.poster_path | posterPath" [alt]="pelicula.original_title">
          <div class="card-block">
            <h4 class="card-title">{{ pelicula.original_title }}</h4>
            <p class="card-text" *ngIf="pelicula.overview">{{ pelicula.overview | slice:0:171 }}...</p>
            <p class="card-text"><small class="text-muted">{{ pelicula.release_date | date:'longDate' }}</small></p>
            <a [routerLink]="['/movie',pelicula.id]" class="btn btn-outline-primary">Learn More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(peliculas.length == 0) == !loading">
    <div class="alert alert-danger" role="alert">
      <strong>No se encontraron resultados de busqueda!</strong>
    </div>
  </div>

  <div *ngIf="loading">
    <div class="alert alert-info" role="alert">
      <strong>Cargando...</strong>
    </div>
  </div>
</div>